
.displayPane  .gridContainer { 
    display: grid;
    gap:2px;

}

.displayPane  .gridContainer .title { 
    grid-row: 1;
    background-color: gray;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
}